  <div class="aspect-ratio-box" >
  <div id="signature-pad" class="signature-pad-ar"  data-pkf="{{par.2}}" data-pko="{{par.3}}">
    <div class="signature-pad--body">
      <canvas  class="signature-pad--canvas"></canvas>
    </div>
    <div class="signature-pad--footer">
      <div class="description">Sign above {{#f.Title}}{{f.Title}}{{/f.Title}}</div>

      <div class="signature-pad--actions">
        <div>
          <button type="button" class="button clear" data-action="clear">Clear</button>
        </div>
        <div>
          <button type="button" class="button save" data-action="save-png">Save</button>          
        </div>
      </div>
    </div>
	</div>
  </div>
 





